/* ! Removing default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*? using this property because if our screen size is 1000 px in width and we give some extra margin and padding and it exeeds to 1000 px then this property allign our items automatically under 1000 px and those extra margin and padding will added inside the original screen width. By using it our design will pixel perfect. */
}

/*! Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100..900&display=swap");

/*! Design system */
:root {
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;

  --sub: 20px;

  --label: 16px;
  --ls: 5px;

  --body: 14px;

  --font-1: "Crimson Text", serif;
  --font-2: "Work Sans", sans-serif;

  --color-dark-100: rgba(41, 33, 33, 1);
  --color-dark-75: rgba(41, 33, 33, 0.75);
  --color-dark-50: rgba(41, 33, 33, 0.5);
  --color-dark-25: rgba(41, 33, 33, 0.25);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-green-100: rgba(116, 198, 157, 1);
  --color-green-75: rgba(116, 198, 157, 0.75);
  --color-green-50: rgba(116, 198, 157, 0.5);
  --color-green-25: rgba(116, 198, 157, 0.25);
}

/*! style rules for common buttons */

.white-btn,
.dark-btn {
  color: var(--color-dark-100);
  cursor: pointer;
  font-size: var(--h5);
  font-family: var(--font-2);
  border: none;
  border-radius: 8px;
  background-color: var(--color-white-100);
  padding: 10px 40px;
}
.dark-btn {
  color: var(--color-white-100);
  background-color: var(--color-dark-100);
}

/* ! style rules for text colors */
/* ? predifined classes */

.text-white {
  color: var(--color-white-100);
}
.text-dark {
  color: var(--color-dark-100);
}
.text-green {
  color: var(--color-green-100);
}

/* ! style rules for labels */
.label {
  font-family: var(--font-2);
  font-size: var(--label);
  letter-spacing: var(--ls);
  text-transform: uppercase;
  font-weight: 700;
}

/* ! style rules for hero */
.hero{
background-color: var(--color-green-100);
}

/* ! style rules for hero */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.navbar__logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar--logo--text{
  color: var(--color-white-100);
  font-family: var(--font-2);
  letter-spacing: var(--ls);
  font-size: var(--h2);
  font-weight: 500;
}

.navbar__menu{
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: var(--font-2);
  font-size: var(--h5);
}

/* ! If we want to style some classes together while some portion of the class is same and rest is different then we can style them together by */

[class^="navbar__menu--"]{     /* ! this will targer all the things which matches the given key though the rest is different */
text-decoration: none;
color: var(--color-white-100);
}

/*! Style rules for common classes */
.container{
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 1300px){
  .container{
    max-width: 1170px;
  }
}
@media (max-width: 1200px){
  .container{
    max-width: 1070px;
  }
}
@media (max-width: 1100px){
  .container{
    max-width: 970px;
  }
}
@media (max-width: 1000px){
  .container{
    max-width: 870px;
  }
}
@media (max-width: 900px){
  .container{
    max-width: 770px;
  }
}
@media (max-width: 800px){
  .container{
    max-width: 670px;
  }
}
@media (max-width: 700px){
  .container{
    max-width: 570px;
  }
}
@media (max-width: 600px){
  .container{
    max-width: 470px;
  }
}
@media (max-width: 500px){
  .container{
    max-width: 370px;
  }
}
@media (max-width: 400px){
  .container{
    max-width: 270px;
  }
}