/***!We will follow CSS naming convention known as BEM (Blocks, Elements and Modifiers). Most parent element known as Block and its children known as Elements and its grandchilrens are known as Modifiers.like we divided our Navbar into two sections Logo and Menu in Logo we have two things image and text and on the other hand we have Menu which is divided into four sections home portfolio services and contact. So here Navbar will be block and Logo and Menu are Elements and image,text,home,services,portfolio,contact are Modifiers.**/


/***! Style rules for sectionOne **/
.section--left--text{
    font-family: var(--font-2);
    color: var(--color-white-75);
    font-size: var(--body);
}

.section--left--btn{
    align-self: start;
    margin-top: 20px;
}

/***! Style rules for sectionTwo **/

.sectionTwo{
    display: grid;
    gap: 30px;
   padding: 40px 0;

}

.sectionTwo__content--text{
    font-family: var(--font-2);
    font-size: var(--sub);
}

.sectionTwo__logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}

.sectionTwo__logo img{
   align-self: center;
   justify-self: center;

}

.sectionTwo__btn{
justify-self: center;
}

/***! Style rules for sectionThree **/

.sectionThree__right--text{
color: var(--color-dark-50);
font-family: var(--font-2);
font-size: var(--body);
}

.sectionThree__right--btn{
    align-self: start;
}

/***! Style rules for sectionFour **/

.sectionFour__left--text{
    color: var(--color-dark-50);
font-family: var(--font-2);
font-size: var(--body);
}
.sectionFour__left--btn{
    align-self: start;
}

/***! Style rules for sectionFive **/

.sectionFive__content--text{
font-family: var(--font-2);
font-size: var(--sub);
}

.sectionFive__cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

[class^="sectionFive__cards--"]{
        box-shadow: var(--shadow-1);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 25px;
        gap: 15px;
}

[class^="sectionFive__cards--"] .name{
    font-family: var(--font-1);
    font-size: var(--h5);
    font-weight: bold;
}
[class^="sectionFive__cards--"] .position{
    font-family: var(--font-2);
    color: var(--color-dark-75);
}

.sectionFive{
    display: grid;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sectionFive__btn{
    justify-self: center;
}

@media(max-width: 1200px){
    .sectionTwo__logo{
        grid-template-columns: repeat(3,1fr);
    gap: 40px;
    }
}

@media(max-width: 768px){
    .sectionOne__right, .sectionFour__right{
        order: 0;
      }
      .sectionOne__left, .sectionFour__left{
        order: 1;
      }
      .sectionFive__cards{
        grid-template-columns: repeat(2,1fr);
      }
      
}

@media(max-width: 568px){
    .sectionTwo__logo{
        grid-template-columns: repeat(1,1fr);
    gap: 40px;
    }
    .sectionFive__cards{
        grid-template-columns: repeat(1,1fr);
      }
}